.group-model-container{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: 15px;
    width: 80%;
    margin: auto;
}

@media screen and (min-width:768px) {
    .group-model-container{
        width: 450px;
    }
}

@media screen and (min-width:1020px) {
    .group-model-container{
        width: 600px;
    }
}

.group-model-container > button{
    align-self: flex-end;
}

.group-model-container > button > svg{

    color: #000;
}

.input-model{
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    outline: none;
    color: black;
    /* outline: none; */
}


.searched-user-container{
    max-height: 150px;
    overflow-y: scroll;
}

.para{
    display: inline-flex;
}

.selected-users-ul-container{
    list-style-type: none;
    width: 100%;
    overflow-x: scroll;

}



/* Define the styles for the .custom-container class */
.custom-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
}


.selected-user-container {
    background-color: #34d399;
    padding: 4px 8px;
    border-radius: 0.5rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}