.chats-small-screen {
  display: none;
}

@media screen and (min-width: 768px) {
  .chats-small-screen {
    display: flex;
  }
}

.send-button {
  background-color: #473e66;
  background-color:rgb(14 165 233);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button > svg {
  color: #fff;
}


.top-profile-container>button {
  margin-left: auto;
  align-self: flex-start;
  margin-top: 0.5rem;
}

.top-profile-container{
    box-shadow: rgba(31, 45, 61, 0.15) 0px 2px 2px 0px;
    border-bottom: 1px solid rgb(229 231 235);
    padding-left: 8px;
    height: 4rem;
    display: flex;
    align-items: center;

}

.top-profile-container>button>svg {
  color: #9a9999;
  font-size: 12px;

}


.right-list-width-container {
  width: 100%;
  height: 91vh;
  border-radius: 8px;
  position: relative;

}

@media screen and (min-width: 768px) {
  .right-list-width-container {
    width: 66%;
  }
}

.separate-chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: hidden;
  position: relative;
}

.text-color {
  color: #2c2929;
}

.loader-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.image-logo {
  border-radius: 50%;
  margin-right: 8px;
}

/* mt-[7px] mr-1 w-[25px] h-[25px] rounded-[50%] */

.message-img-logo {
  margin-top: 7px;
  margin-right: 4px;
  border-radius: 50%;
}

.chats-container-style {
  height: calc(100% - 9vh - 7rem);
  flex: 1;
  padding-top: 0.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: rgb(233, 239, 252);
  background-color: #fff;
  /* border: 1px red solid; */
}

.current-user-bg-color {
  background-color: #b9f5d0;
}

.other-user-bg-color {
  background-color: #bee3f8;
}

.each-text-container {
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 75%;
  color: #000;
}

.noChatsSelected-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.message-img-logo {
  margin-top: 7px;
  margin-right: 1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}



.fixed-chat-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* height: 3rem; */
  align-items: center;
  border-radius: 20px;
  padding: 0 0.5rem;
  background-color: rgb(245 245 245);
}

.fixed-chat-container>input {
  width: 86%;
  padding-left: 6px;
  outline: none;
  height: 40px;
  background-color: rgb(245 245 245);
}

.bottom-input-container{
  border-top: 1px solid rgb(229 231 235);
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}