.input-container {
    border: 1px solid gray;
    border-radius: 8px;
}


@media screen and (min-width:600px) {
    .input-container {
        width: 150px;
    }
}


.input-search {
    border-radius: 8px;
    height: 38px;
    outline: none;
}

.input-container>svg {
    color: #999;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}


.display-none{
    display: none;
}

.display-flex{
    display: flex;
}


.small-screen{
    display: none;
}

@media screen and (min-width:768px) {
    .chat-list-container {
            display: flex;
        }
    .small-screen{
        display: flex;
        flex-direction: column;
    }
}


.chat-list-bg-shadow{
    /* box-shadow: 25px 0px 20px -33px rgba(0, 0, 0, 0.45); */
    border-right:1px solid rgb(229 231 235);
}




.chat-item-bg-container{
    padding: 0.75rem 0.5rem;
}

.chat-item-bg-container:hover{
    background-color:rgb(245 245 245 / var(--tw-bg-opacity)) ;
    
}
.selected-chat-bg-color {
background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}


.chat-list-scroll-container{
    padding: 4px 1px;
    height: 93%;
    overflow-y: scroll;
}

.left-list-width-container{
    width: 100%;
}


@media screen  and (min-width:768px){
    .left-list-width-container{
        width: 34%;
    }
}


.plus-button{
    border: 2px solid rgb(194, 190, 190);
    border-radius: 4px;
    margin-left: 4px;
    padding: 5px;
}


.plus-button > svg{
    color: black;
    font-size: 24px;
}


.chat-list-image-logo{
    border-radius: 50%;
    margin-right: 0.75rem;
}

.chat-list-loader-container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
}