.image-container-comment{
    width: 100%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}


@media screen and (min-width:576px) {
    .image-container-comment{
        width: 49%;
    }
}


@media screen and (min-width:991px) {
    .image-container-comment{
        width: 32%;
    }
}



.image{
    width: 300px;
    height: 180px;
    object-fit: contain;
}

@media screen and (min-width:413px) {
    .image{
        /* width: 300px; */
        /* height: 180px; */
        /* object-fit: fill; */
    }
}

.image :hover{
    transform: scale(1.5);
    object-fit: contain;
}

textarea {
    width: 100%;
    min-height: 30px; /* Initial height of one line */
    resize: vertical; /* Allow vertical resizing */
    outline: none;
}

.para {
    color: #6b7280;
    margin-left: auto;
    font-size: 8px;
}